@import './styles/variables';

body {
    margin: 0;
}

.app {
    width: 100vw;
    height: 100vh;
    background-image: url('./resources/bg.png');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: 80% 0%;
    display: flex;
    min-height: $minHeight;

    .app-overlay {
        width: 100%;
        height: 100%;
        background-color: rgba($white, .3);
        position: absolute;
        min-height: $minHeight;
    }
    
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
}
