@import './variables';

.chat {
    @extend .vertical-align;
    justify-content: flex-start;
    width: 50%;
    height: 100%;   
    min-height: $minHeight;
    position: absolute;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    background-color: rgba($gray, .95);

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: $white;
    }
    
    ::-webkit-scrollbar {
        width: 12px;
        background-color: $white;
    }
    
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: $red;
    }
    
    @media(max-width: $breakpointB) {
        width: 100%;
    }

    .title-container {
        display: flex;
        justify-content: space-evenly;
        background-color: $black;
        min-height: 64px;
        padding-left: 9px;
        padding-right: 60px;
        box-sizing: border-box;
        box-shadow: $shadow;

        .chat-search-wrap {
            @extend .vertical-align;
            display: flex;
            width: 100%;
            max-width: $breakpointE;
            z-index: 1;
        }

        .chat-exit-wrap {
            width: 100%; 
            right: 0;
            top: 0;
            padding: 11px 9px;
            display: flex;
            justify-content: flex-end;
            position: absolute;
        }

        .chat-title {
            @extend .vertical-align;
            text-align: center;
            font-family: $fontA;
            color: $white;
            font-weight: 600;
            font-size: $fontSizeB;
            max-width: $breakpointF;
            margin-right: 9px;
            letter-spacing: 1px;
            flex-shrink: 0;
        }
    }

    .messages-container {
        @extend .vertical-align;

        justify-content: flex-start;
        height: 100%;
        width: 100%;
        overflow: auto;
        padding-bottom: 24px; 

        .no-messages {
            @extend .vertical-align;
            
            cursor: default;
            height: 100%;
            text-align: center;
            font-family: $fontA;
            font-size: $fontSizeC;
            color: $blue; 
        }
    }

    ::placeholder {
        color: $red;
    }

    .message-input {
        min-height: 60px;
        height: auto;
        max-height: 167px;
        resize: none;
        outline: none;
        border: none;
        box-shadow: $shadow;
        color: $black;
        padding: 18px;
        box-sizing: border-box;
        font-size: $fontSizeD;
        font-family: $fontB;
        background-color: $white;
    }

    .users-container {
        background-color: $black;
        display: flex;
        flex-wrap: wrap;
        padding: 11px 9px;
        box-sizing: border-box;
        justify-content: center;
        cursor: default;

        .online, .display-name, .user-display-name {
            @extend .vertical-align;

            font-family: $fontA;
            font-size: $fontSizeE;
            color: $white;
            letter-spacing: 1px;
        }

        .online {
            color: $red;
            font-weight: 600;
        };

        .user-display-name {
            font-weight: 600;
        }

    }
}