@import './variables';

.form-container {
    @extend .vertical-align;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color: rgba($black,.7);
    position: absolute;
    right: 0;
    z-index: 2;
    padding: 24px;
    box-sizing: border-box;

    @media(max-width: $breakpointB) {
        width: 100%;
    }

    .form {
        margin: 0 auto;
        max-width: $breakpointE;
        width: 100%;
        background-color: $gray;
        border-radius: 24px; 
        padding: 24px;
        box-sizing: border-box;
        box-shadow: $shadow; 

        .form-title {
            font-family: $fontA;
            font-size: $fontSizeB;
            margin-bottom: 12px;
            text-align: center;
            // text-transform: uppercase;
            font-weight: 600;
            color: $black;
        }

        .field-wrap {
            @extend .vertical-align;
            width: 100%;
            margin-bottom: 12px;
            // background: red; 
            .field-top{
                display: flex;
                margin-bottom: 6px;
                .field-label{
                    @extend .vertical-align;
                    justify-content: flex-end;
                    width: 50%;
                    font-size: $fontSizeD;
                    font-family: $fontA;
                    text-transform: uppercase;
                    font-weight: 600;
                    color: $black;
                    line-height: 16px;
                    cursor: default;
                }
                .field-input{
                    @extend .vertical-align;
                    justify-content: flex-end;
                    line-height: 0;
                    width: 50%;
                    height: 40px;
                    border: none;
                    outline: none;
                    padding: 0 12px;
                    box-sizing: border-box;
                    font-family: $fontB;
                    font-size: $fontSizeD;
                    color: $black;
                    box-shadow: inset 0 0 2.5px 0 rgba(black, 0.5);
                }
            }
            .field-bottom{
                color: $blue;
                font-family: $fontA;
                font-size: $fontSizeE;
                cursor: default;
            }
        }

        .form-error {
            @extend .vertical-align;
            text-align: center;
            height: 64px;
            // background: blue; 
            font-family: $fontA;
            font-size: $fontSizeD;
            // text-transform: uppercase;
            font-weight: 600;
            color: $red;
            cursor: default;
        }

        .form-button-wrap{
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            margin-top: 24px;

            .cancel-button, .submit-button {
                margin: 0 auto;
                font-size: $fontSizeC;
                font-family: $fontB;
                text-align: center;
                width: 120px;
                padding: 12px 0;
                border-radius: 24px;
                cursor: pointer;
                box-shadow: $shadow;
                text-transform: capitalize;
            }

            .cancel-button {
                color: $white;
                background-color: $blue;
                &:hover{
                    background-color: lighten($blue, 5%);
                }
            }
            .submit-button {
                color: $white;
                background-color: $black;
                &:hover{
                    background-color: lighten($black, 5%);
                }
            }
        }
    }
}