@import './variables';

.home {
    @extend .vertical-align;
    justify-content: space-evenly;
    width: 50%;
    height: 100%;
    min-height: $minHeight;
    background-color: rgba($blue,.95);
    box-shadow: $shadow;
    z-index: 1;
    @media(max-width: $breakpointB) {
        width: 100%;
    }

    .title-wrap {
        padding: 24px 0;
        background-color: $black;
        text-align: center;
        text-transform: uppercase;
        font-family: $fontA;
        font-weight: 600;
        letter-spacing: 6px;
        cursor: default;
        box-shadow: $shadow;
        
        .title-top {
            color: $white;
            font-size: $fontSizeB;
            @media(max-width: $breakpointF) {
                font-size: 30px;
            }
        }
        .title-bottom {
            color: $red;
            font-size: $fontSizeA;
            @media(max-width: $breakpointF) {
                font-size: 58px;
            }
        }
    }

    .home-button-wrap {
        @extend .vertical-align;
        justify-content: space-between;
        width: 100%;
    }
}