@import './variables';

.lobby{
    @extend .vertical-align;
    justify-content: flex-start;
    width: 50%;
    height: 100%;   
    min-height: $minHeight;
    position: absolute;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    background-color: rgba($black, .95);

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: $blue;
    }
    
    ::-webkit-scrollbar {
        width: 12px;
        background-color: $blue;
    }
    
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: $white;
    }
    
    @media(max-width: $breakpointB) {
        width: 100%;
    }

    .lobby-exit-wrap {
        width: 100%; 
        right: 0;
        top: 0;
        padding: 11px 9px;
        display: flex;
        justify-content: flex-end;
        position: absolute;
    }

    .lobby-search-wrap {
        @extend .vertical-align;
        display: flex;
        width: 100%;
        height: calc((100% - 290px)/3);
        padding: 0 20%; 
        box-sizing: border-box;
        flex-shrink: 0;
    }
    
    .toggle-container {
        width: 100%; 
        
        .inner-toggle-container {
            display: flex;
            width: 100%;
            padding: 0 24px; 
            box-sizing: border-box;
            padding-bottom: calc( (((100vh - 290px)/3) - 50px)/4 - 4px );
            margin: 0 auto;
            margin-bottom: 4px;  
            max-width: $breakpointC;  
        }
    }

    .scroll-shadow {
        box-shadow: 0 5vh 50px -1vh rgba(black, .35);
    }

    .room-container {
        width: 100%;
        overflow-y: auto;
        height: 100%;
        
        .no-rooms {
            @extend .vertical-align;
            
            cursor: default;
            height: 100%;
            text-align: center;
            font-family: $fontA;
            font-size: $fontSizeC;
            color: $gray; 
        }

    }
}