@import './variables';


.message {
    padding: 24px; 
    border-radius: 24px; 
    max-width: 67%;
    flex-wrap: wrap;
    word-wrap: break-word;
    font-family: $fontB;
    font-size: $fontSizeD;
    white-space: pre-line;
    @media(max-width: $breakpointE) {
        font-size: 17px;
    }
    @media(max-width: $breakpointF) {
        // font-size: 14px;
    }
}

.wrap {
    width: 100%;
    display: flex; 
    box-sizing: border-box;
    padding: 1.5px 24px;
    padding-left: 0;
    cursor: default;
}

.gap {
    margin-top: 21px;
}

.user-wrap {
    @extend .wrap;
    justify-content: flex-end; 

    .user-message{
        @extend .message;  
        background-color: $blue; 
        color: $white;
    }
}


.other-wrap {
    @extend .wrap;
    display: flex; 
    .avatar-wrap {  
        @extend .vertical-align;
        justify-content: flex-end;
        height: 100%;
        min-width: 50px;
        padding: 0 12px; 
        .avatar {
            width: 100%;
            height: 50px; 
            background-image: url("../resources/avatar.png");
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
    .data-container {
        @extend .vertical-align; 

        .other-display-name{
            font-family: $fontA;
            padding-left: 24px;
            margin-bottom: 6px;
            font-size: $fontSizeE;
            font-weight: 600;
            color: $blue; 
            @media(max-width: $breakpointF) {
                font-size: 11px;
            }
        }
        .other-message {
            @extend .message;
            background-color: $white; 
            color: $black;
        }
    }
}