@import './variables';

.room {
    display: flex;
    height: 50px;
    padding: 0 28px; 
    transition: background-color, box-shadow $transition;
    box-sizing: border-box;

    &:hover {
        background-color: $blue;
        box-shadow: $shadow;
    }
    .room-name, .room-capacity, .room-access, .connect-wrap {
        @extend .vertical-align;
        font-family: $fontA;
        font-size: $fontSizeD;
        text-transform: capitalize;
        font-weight: 600;
        cursor: default;
    }

    .room-name {
        width: 50%;
        color: $white;
    }
    .room-capacity {
        width: 20%;
        color: $gray;
    }
    .room-access {
        width: 30%;
        color: $gray;
    }
    .connect-wrap {
        width: 90px;
    }
    .connect-button {
        @extend .vertical-align;
        cursor: pointer;
        text-align: center;
        font-variant: small-caps;
        text-transform: lowercase;
        font-size: $fontSizeE;
        width: 100%;
        height: 30px;
        color: $black;
        background-color: $white;
        padding-bottom: 2px;
        box-sizing: border-box;
        transition: background-color $transition; 

        &:hover {
            background-color: darken($white, 10%);
        }
    }
}