@import './variables';

.room-wrap {
    width: 100%;
    &:hover {
        background-color: $blue;
        box-shadow: $shadow;
    }
    
    .room {
        display: flex;
        height: 50px;
        padding: 0 28px; 
        box-sizing: border-box;
        max-width: $breakpointC;
        margin: 0 auto;

        .room-name, .room-capacity, .room-access, .connect-wrap {
            @extend .vertical-align;
            font-family: $fontA;
            font-size: $fontSizeD;
            font-weight: 600;
            cursor: default;
            @media(max-width: $breakpointE) {
                font-size: 17px;
            }
            @media(max-width: $breakpointF) {
                font-size: 14px;
            }
        }
    
        .room-name {
            width: 50%;
            color: $white;
        }
        .room-capacity {
            width: 20%;
            color: $gray;
        }

        .room-access {
            width: 25%;
            color: $gray;
            text-transform: capitalize;
        }
        .connect-wrap {
            width: 84px;
            @media(max-width: $breakpointF) {
                width: 72px;
            }
        }
        .connect-button, .full-button {
            @extend .vertical-align;
            cursor: pointer;
            text-align: center;
            font-variant: small-caps;
            text-transform: lowercase;
            font-size: $fontSizeE;
            width: 100%;
            height: 30px;
            color: $black;
            background-color: $white;
            padding-bottom: 2px;
            box-sizing: border-box;
            box-shadow: $shadow;
            @media(max-width: $breakpointF) {
                font-size: 11px;        
            }
            &:hover {
                background-color: $gray;
            }
        }

        .full-button {
            pointer-events: none;
            background-color: $red;

            &:hover {
                background-color: $red;
            }
        }
    }
}