@import './variables';

.toggle-left {
    width: 50%;
}

.toggle-right {
    display: flex;
    justify-content: flex-end;
}

 .toggle-middle, .toggle-right {
    width: calc(22% + 52px);
}


.toggle-left,  .toggle-middle, .toggle-right {    
    .toggle-button {
        display: inline-flex;
        cursor: pointer;

        &:hover {
            .toggle-text {
                color: $gray; 
            }
        }

        .toggle-icon {
            @extend .vertical-align; 
            color: $red;
            font-family: $fontA;
            font-size: $fontSizeD;
            @media(max-width: $breakpointE) {
                font-size: 17px;
            }
            @media(max-width: $breakpointF) {
                font-size: 14px;
            }
            .triangle-top, .triangle-bottom {
                text-align: center;
                padding: 0 2px;
                line-height: 6px;
            }

            .triangle-top {
                transform: rotate(-180deg);
            }
        }

        .toggle-text {
            @extend .vertical-align;
            padding: 0 2px;
            color: $white;
            font-family: $fontB;
            font-size: $fontSizeC;
            text-transform: capitalize;
            @media(max-width: $breakpointE) {
                font-size: 21px;
            }
            @media(max-width: $breakpointF) {
                font-size: 18px;
            }
        }
    }   
}